@layer utilities {

    .-fade-in-left {
        animation: fadeInLeft 2s ease-out;
    
    }
    
    .-fade-out-left {
        animation: fadeInLeft 2s ease-out reverse;
    
    }
    
    
    
    @keyframes fadeInLeft {
        0% {
           opacity: 0;
           transform: translateX(-100px);
        }
        100% {
           opacity: 1;
           transform: translateX(0);
        }
     } 
    
    }


